.payment {

    &__inner {
        display: flex;
        gap: 170px;

        &__forms {
            width: 50%;

            & form {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                margin-bottom: 65px;
                justify-content: space-between;
            }

            & h3 {
                color: #121211;
                font-family: 'Questrial';
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.25px;
                text-transform: uppercase;
                margin-bottom: 84px;
            }

            &-item {
                width: 368px;

                & span {
                    color: #3D3D3D;
                    font-family: 'Questrial';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 15px;
                }

                & input {
                    width: 100%;
                    border: 1px solid #F0F0F0;
                    background: none;
                    height: 50px;
                }
            }

            &-itemStreet {
                width: 100%;

                & div {
                    display: flex;
                    // gap: 30px;
                    justify-content: space-between;

                    & input {
                        width: 368px;

                    }
                }
            }

            &-diff {
                margin-bottom: 65px;
                display: flex;
                gap: 20px;
                align-items: center;

                & input {
                    width: 25px;
                    height: 25px;
                }

                & span {
                    color: #3D3D3D;
                    font-family: 'Questrial';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 15px;
                }
            }

            &-notes {
                display: flex;
                flex-direction: column;
                gap: 20px;

                & span {
                    color: #3D3D3D;
                    font-family: 'Questrial';
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 15px;
                }

                & textarea {
                    height: 200px;
                    width: 100%;
                    border: 1px solid #F0F0F0;
                    margin-bottom: 356px;
                }
            }
        }

        &__info {

            &__headers {
                & h4 {
                    color: #121211;
                    font-family: 'Questrial';
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 1.25px;
                    text-transform: uppercase;
                    margin-bottom: 84px;
                }

            }

            &__order {
                max-width: 50%;

                &__money {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    position: relative;
                    margin-top: 60px;


                    &-charge {
                        align-self: flex-end;
                        color: #030A8C;
                        font-family: 'Questrial';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                    }

                    &-item {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        &-name {
                            color: #3D3D3D;
                            font-family: 'Questrial';
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                        }

                        &-amount {
                            color: #3D3D3D;
                            text-align: right;
                            font-family: 'Questrial';
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                        }

                        &-amountTotal {
                            color: #030A8C;
                            font-family: 'Questrial';
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                        }
                    }

                    &-item::after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: #F0F0F0;
                        position: absolute;
                        bottom: 36px;
                        right: 0;
                    }

                    &-btn {
                        color: #FFF;
                        font-family: 'Questrial';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding: 15px 0;
                        width: 100%;
                        border: none;
                        background: #030A8C;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 79px;
                    }
                }

                &-cards {

                    &-item {
                        display: flex;
                        align-items: center;
                        padding: 30px;
                        border: 1px solid #F0F0F0;
                        // width: max-content;
                        margin-bottom: 30px;

                        &-img {
                            max-width: 160px;
                            max-height: 136px;
                        }

                        &-info {
                            display: flex;
                            flex-direction: column;
                            gap: 30px;
                            justify-content: center;
                            align-items: flex-start;
                            margin: 0 40px 0 20px;

                            & h3 {
                                color: #121211;
                                font-family: 'Questrial';
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%;
                                max-width: 220px;
                            }

                            & p {
                                color: #A5A5A5;
                                font-family: 'Questrial';
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }



                        &-btns {
                            margin: 0 61px 0 40px;
                        }

                        &-total {
                            color: #030A8C;
                            font-family: 'Questrial';
                            font-size: 25px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        &-trash {
                            background: none;
                            border: none;
                            margin-left: 38px;
                        }
                    }
                }
            }
        }
    }
}